/* <!-- Write the CSS code for an external style sheet that configures a
 page background color of #FFF8DC; has a text color of #000099; is in Arial,
 Helvetica, or a sans-serif font; and has an id called new that is bold and italic.  --> */

body {
  background-color: #fff8dc;
  color: #000099;
  font-family: Arial;
}
header {
  background-color: #eb9191;
  color: #000066;
}
footer {
  font-size: 80%;
  font-style: bold;
}
#new {
  font-weight: bold;
  font-style: italic;
}
